@media screen and (max-width: 747px) {

    #menu-desktop {
        display: none;
    }

    button.btnCad {
        display: none;
    }

    #icone-mobile {
        display: block;
        cursor: pointer;
    }

    #icone-mobile > img {
        background-color: transparent;
        width: 3.1em;
    }

}